@use '../../../../../styles/mixins' as *;
@use '../../../../../styles/variables' as *;

.process {
  color: $neutral-01;
  position: relative;
   
  &-info {
    text-align: center;
    border-bottom: 2px dashed $primary-05;

    &-title {
      font-size: 48px;


      @include xxl {
        font-size: 44px;
      }

      @include xl {
        font-size: 40px;
      }

      @include lg {
        font-size: 36px;
      }

      @include md {
        font-size: 32px;
      }

      @include sm {
        font-size: 28px;

      }

      @include xs {
        font-size: 24px;
      }
    }

    &-text {
      font-size: 30px;

      @include xxl {
        font-size: 28px;
      }

      @include xl {
        font-size: 26px;
      }

      @include lg {
        font-size: 24px;
      }

      @include md {
        font-size: 22px;
      }

      @include sm {
        font-size: 20px;
      }

      @include xs {
        font-size: 14px;
      }
    }
  }

  &-steps {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 2;
    padding-bottom:100px;
  }

  &-img-box {
    max-width: 676px;
    height: 674px;
    position: absolute;
    bottom: -200px;
    right: 0;

    &-img {
      max-width: 100%;
      height: auto;
    }
  }
}
