// Fonts
$font-family: 'Montserrat', sans-serif;
$second-family: 'Geologica Cursive', sans-serif;

// Colors
$dark-blue: #0c2a4a;
$secondary-10: #fcfefe;
$secondary-09: #f5fbfc;
$secondary-08: #e8f7f8;
$secondary-07: #d6f0f2;
$secondary-06: #bfe7eb;
$secondary-05: #a3dde2;
$secondary-04: #82d1d8;
$secondary-03: #5cc3cc;
$secondary-02: #31b2be;
$secondary-01: #00a1af;

$primary-10: rgb(253, 253, 254);
$primary-09: #f6f8fa;
$primary-08: #eaeef3;
$primary-07: #d9e1ea;
$primary-06: #c4d1de;
$primary-05: #aabcd0;
$primary-04: #8ca5bf;
$primary-03: #6989aa;
$primary-02: #416a94;
$primary-01: #14467b;

$neutral-10: #fdfdfd;
$neutral-09: #f6f6f6;
$neutral-08: #ebebeb;
$neutral-07: #dcdbdb;
$neutral-06: #c8c7c7;
$neutral-05: #b0afaf;
$neutral-04: #939192;
$neutral-03: #727071;
$neutral-02: #4d494a;
$neutral-01: #231f20;
