@use 'mixins' as *;
@use 'variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-family;
  zoom: 90%;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background-color: #fff;
  line-height: 1.3;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content__wrapper {
  flex: 1;
  margin-top: 58px;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: top;
}

.container {
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 16px;
}

.css-heg063-MuiTabs-flexContainer {
  flex-wrap: wrap !important;
  justify-content: center !important;

  @include md {
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
  }
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  white-space: nowrap !important;
  text-transform: capitalize !important;
  font-size: 24px !important;
  max-width: 100% !important;

  @include xxl {
    font-size: 22px !important;
  }

  @include md {
    font-size: 20px !important;
  }

  @include xs {
    font-size: 14px !important;
  }
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  font-weight: 700 !important;
  font-size: 24px !important;
  color: $primary-01 !important;
  border-bottom: 2px solid $primary-01 !important;

  @include xxl {
    font-size: 22px !important;
  }

  @include md {
    font-size: 20px !important;
  }

  @include xs {
    font-size: 14px !important;
  }
}

.css-1aquho2-MuiTabs-indicator {
  display: none !important;
}

.css-1gsv261 {
  border: none !important;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
}
