.list {
  list-style: none;
}

.wrapper {
  padding: 24px 16px;
}

.serviceBtn {
  margin-top: 16px;
  padding-top: 28px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-bottom: 2px solid rgb(220, 219, 219);
}

.title {
  display: block;
  font-weight: 700;
  padding: 12px 16px;
}

.list {
  font-weight: 500;
  font-size: 16px;
}

.tab {
  display: block;
  padding: 12px 32px;
}
