@use '../../../../styles/mixins' as *;
@use '../../../../styles/variables' as *;

.footer-form {
  width: 750px;

  @include xl {
    width: 100%;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-family: $font-family;

    .input-field {
      position: relative;

      .text-counter {
        color: var(--Neutral-04, #939192);
        text-align: right;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        position: absolute;
        right: 18px;
        bottom: 18px;
      }

      .error-message {
        color: #d9534f; // Red color for error messages
        font-size: 14px;
        margin-top: 5px;
      }
    }

    .input-field input {
      padding: 20px 10px;
      height: 50px;
      border: 2px solid rgba(255, 255, 255, 0.18);
      font-size: 20px;
      background: $primary-10;
      border-radius: 4px;
      outline: none;
      color: $primary-03;
      transition: 0.2s;
      width: 100%;

      @include md {
        font-size: 18px;
        padding: 18px 10px;
      }

      @include sm {
        font-size: 16px;
      }

      @include xs {
        padding: 12px 10px;
        font-size: 14px;
      }
    }

    .input-field label {
      position: absolute;
      top: 12px;
      left: 18px;
      color: $primary-03;
      font-size: 20px;
      pointer-events: none;
      transition: 0.2s;

      @include md {
        top: 15px;
        font-size: 18px;
      }

      @include sm {
        font-size: 16px;
      }

      @include xs {
        font-size: 14px;
      }
    }

    .input-field input:focus ~ label,
    .input-field input:valid ~ label {
      top: -25px;
      left: 0;
      color: $primary-10;
      font-size: 16px;
    }

    .input-field input:focus {
      border-color: $secondary-01;
      background-color: $primary-10;
    }

    textarea {
      font-size: 20px;
      font-family: $font-family;
      border-radius: 4px;
      outline: 2px solid rgba(255, 255, 255, 0.18);
      resize: none;
      height: 170px;
      width: 100%;
      padding: 8px;

      @include md {
        font-size: 18px;
      }

      @include sm {
        font-size: 16px;
      }

      @include xs {
        font-size: 14px;
      }
    }

    .input-field textarea:focus ~ label,
    .input-field textarea:valid ~ label {
      top: -25px;
      left: 0;
      color: $primary-10;
      font-size: 16px;
    }

    .input-field textarea:focus {
      outline-color: $secondary-01;
      background-color: $primary-10;
    }

    &-warning {
      color: $primary-10;
      font-weight: 400;
      font-size: 18px;
      margin-top: -30px;

      @include lg {
        text-align: center;
        align-self: center;
      }

      @include md {
        font-size: 14px;
      }

      @include xs {
        font-size: 12px;
      }
    }

    .loading {
      background-color: #5cc3cc;
    }

    .form-button-load {
      animation: load 4s infinite;
      animation-delay: 4s;
    }

    &-button {
      align-self: flex-start;
      cursor: pointer;
      font-size: 24px;
      background-color: $secondary-01;
      color: $primary-10;
      border: none;
      border-radius: 4px;
      padding: 18px 24px;
      gap: 10px;
      display: flex;
      align-items: center;
      transition: background-color 0.3s, cursor 0.3s;

      &:hover {
        background-color: lighten($secondary-01, 10%);

        .form-button-arrow {
          transform: rotate(0deg);
          transition: transform 0.5s;
        }
      }

      &:disabled {
        background-color: #d1d1d1; // Light grey for disabled state
        color: #ffffff;
        cursor: not-allowed; // Cursor indicating the button is disabled
      }

      @include lg {
        align-self: center;
        font-size: 22px;
        padding: 18px 24px;
        margin-top: -25px;
      }

      @include md {
        padding: 15px 20px;
        font-size: 20px;
      }

      @include sm {
        padding: 10px 14px;
        font-size: 16px;
      }

      @include xs {
        font-size: 14px;
      }

      &-arrow {
        display: block;
        width: 28px;
        height: 28px;
        transform: rotate(-45deg);

        @include xxl {
          width: 24px;
          height: 24px;
        }

        @include xl {
          width: 20px;
          height: 20px;
        }

        @include md {
          display: none;
        }
      }
    }
  }
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
