@use '../../../../../styles/mixins' as *;
@use '../../../../../styles/variables' as *;

.our-values-card {
  background: $primary-08;
  border-radius: 8px;
  padding: 20px 18px;

  @include xl {
    width: 100%;
    padding: 30px 18px;
  }

  @include sm {
    padding: 16px 24px;
    font-size: 20px;
  }

  &-text {
    font-weight: 500;
    font-size: 30px;
    color: $neutral-01;
    padding-left: 70px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 60px 60px;

    @include xxl {
      font-size: 28px;
    }

    @include xl {
      font-size: 26px;
      padding: 15px 0 15px 70px;
    }

    @include lg {
      font-size: 24px;
    }

    @include md {
      font-size: 22px;
    }

    @include sm {
      font-size: 20px;
      background-size: 50px 50px;
    }

    @include xs {
      font-size: 14px;
      background-size: 30px 30px;
      padding-left: 40px;
    }
  }
}
